In [1]:
import twstock
import requests as r
import pandas as pd

In [2]:
stock = twstock.realtime.get('2330')
stock

{'timestamp': 1706250600.0,
 'info': {'code': '2330',
  'channel': '2330.tw',
  'name': '台積電',
  'fullname': '台灣積體電路製造股份有限公司',
  'time': '2024-01-26 14:30:00'},
 'realtime': {'latest_trade_price': '644.0000',
  'trade_volume': '4494',
  'accumulate_trade_volume': '40985',
  'best_bid_price': ['644.0000',
   '643.0000',
   '642.0000',
   '641.0000',
   '640.0000'],
  'best_bid_volume': ['811', '313', '186', '424', '324'],
  'best_ask_price': ['645.0000',
   '646.0000',
   '647.0000',
   '648.0000',
   '649.0000'],
  'best_ask_volume': ['2919', '3009', '1217', '1725', '687'],
  'open': '644.0000',
  'high': '646.0000',
  'low': '639.0000'},
 'success': True}

In [3]:
stock['success'] == True

True

In [4]:
"台股即時報價" if stock['success'] == True else "不是台股即時報價"

'台股即時報價'

In [5]:
stock = pd.DataFrame(stock)
stock

,timestamp,info,realtime,success
code,1.706251e+09,2330,NaN,True
channel,1.706251e+09,2330.tw,NaN,True
name,1.706251e+09,台積電,NaN,True
fullname,1.706251e+09,台灣積體電路製造股份有限公司,NaN,True
time,1.706251e+09,2024-01-26 14:30:00,NaN,True
latest_trade_price,1.706251e+09,NaN,644.0000,True
trade_volume,1.706251e+09,NaN,4494,True
accumulate_trade_volume,1.706251e+09,NaN,40985,True
best_bid_price,1.706251e+09,NaN,"[644.0000, 643.0000, 642.0000, 641.0000, 640.0...",True
best_bid_volume,1.706251e+09,NaN,"[811, 313, 186, 424, 324]",True
best_ask_price,1.706251e+09,NaN,"[645.0000, 646.0000, 647.0000, 648.0000, 649.0...",True
best_ask_volume,1.706251e+09,NaN,"[2919, 3009, 1217, 1725, 687]",True
open,1.706251e+09,NaN,644.0000,True
high,1.706251e+09,NaN,646.0000,True
low,1.706251e+09,NaN,639.0000,True

In [6]:
stock_info = stock.iloc[0:5, 1]
stock_info

code                       2330
channel                 2330.tw
name                        台積電
fullname         台灣積體電路製造股份有限公司
time        2024-01-26 14:30:00
Name: info, dtype: object

In [8]:
stock_realtime = stock.iloc[5:, 2]
stock_realtime

latest_trade_price                                                  644.0000
trade_volume                                                            4494
accumulate_trade_volume                                                40985
best_bid_price             [644.0000, 643.0000, 642.0000, 641.0000, 640.0...
best_bid_volume                                    [811, 313, 186, 424, 324]
best_ask_price             [645.0000, 646.0000, 647.0000, 648.0000, 649.0...
best_ask_volume                                [2919, 3009, 1217, 1725, 687]
open                                                                644.0000
high                                                                646.0000
low                                                                 639.0000
Name: realtime, dtype: object

In [9]:
stock_data = stock_info._append(stock_realtime, ignore_index = True)
stock_data

0                                                  2330
1                                               2330.tw
2                                                   台積電
3                                        台灣積體電路製造股份有限公司
4                                   2024-01-26 14:30:00
5                                              644.0000
6                                                  4494
7                                                 40985
8     [644.0000, 643.0000, 642.0000, 641.0000, 640.0...
9                             [811, 313, 186, 424, 324]
10    [645.0000, 646.0000, 647.0000, 648.0000, 649.0...
11                        [2919, 3009, 1217, 1725, 687]
12                                             644.0000
13                                             646.0000
14                                             639.0000
dtype: object

In [10]:
stock['data'] = list(stock_data)
stock

,timestamp,info,realtime,success,data
code,1.706251e+09,2330,NaN,True,2330
channel,1.706251e+09,2330.tw,NaN,True,2330.tw
name,1.706251e+09,台積電,NaN,True,台積電
fullname,1.706251e+09,台灣積體電路製造股份有限公司,NaN,True,台灣積體電路製造股份有限公司
time,1.706251e+09,2024-01-26 14:30:00,NaN,True,2024-01-26 14:30:00
latest_trade_price,1.706251e+09,NaN,644.0000,True,644.0000
trade_volume,1.706251e+09,NaN,4494,True,4494
accumulate_trade_volume,1.706251e+09,NaN,40985,True,40985
best_bid_price,1.706251e+09,NaN,"[644.0000, 643.0000, 642.0000, 641.0000, 640.0...",True,"[644.0000, 643.0000, 642.0000, 641.0000, 640.0..."
best_bid_volume,1.706251e+09,NaN,"[811, 313, 186, 424, 324]",True,"[811, 313, 186, 424, 324]"
best_ask_price,1.706251e+09,NaN,"[645.0000, 646.0000, 647.0000, 648.0000, 649.0...",True,"[645.0000, 646.0000, 647.0000, 648.0000, 649.0..."
best_ask_volume,1.706251e+09,NaN,"[2919, 3009, 1217, 1725, 687]",True,"[2919, 3009, 1217, 1725, 687]"
open,1.706251e+09,NaN,644.0000,True,644.0000
high,1.706251e+09,NaN,646.0000,True,646.0000
low,1.706251e+09,NaN,639.0000,True,639.0000

In [11]:
stock = stock.drop(['timestamp', 'info', 'realtime', 'success'], axis = 1)
stock

                                                                      data
code                                                                  2330
channel                                                            2330.tw
name                                                                   台積電
fullname                                                    台灣積體電路製造股份有限公司
time                                                   2024-01-26 14:30:00
latest_trade_price                                                644.0000
trade_volume                                                          4494
accumulate_trade_volume                                              40985
best_bid_price           [644.0000, 643.0000, 642.0000, 641.0000, 640.0...
best_bid_volume                                  [811, 313, 186, 424, 324]
best_ask_price           [645.0000, 646.0000, 647.0000, 648.0000, 649.0...
best_ask_volume                              [2919, 3009, 1217, 1725, 687]
open                                                              644.0000
high                                                              646.0000
low                                                               639.0000

In [12]:
stock = stock.T
stock

,code,channel,name,fullname,time,latest_trade_price,trade_volume,accumulate_trade_volume,best_bid_price,best_bid_volume,best_ask_price,best_ask_volume,open,high,low
data,2330,2330.tw,台積電,台灣積體電路製造股份有限公司,2024-01-26 14:30:00,644.0000,4494,40985,"[644.0000, 643.0000, 642.0000, 641.0000, 640.0...","[811, 313, 186, 424, 324]","[645.0000, 646.0000, 647.0000, 648.0000, 649.0...","[2919, 3009, 1217, 1725, 687]",644.0000,646.0000,639.0000

In [13]:
stock.columns = ['股票代碼', '股票代碼全', '股票名稱', '公司名', '下載時間', '最新成交量', '成交量', '累計成交量', '最佳5檔賣出價', '最佳5檔賣出量', '最佳5檔買進價', '最佳5檔買進量', '開盤價', '最高價', '最低價']
stock

,股票代碼,股票代碼全,股票名稱,公司名,下載時間,最新成交量,成交量,累計成交量,最佳5檔賣出價,最佳5檔賣出量,最佳5檔買進價,最佳5檔買進量,開盤價,最高價,最低價
data,2330,2330.tw,台積電,台灣積體電路製造股份有限公司,2024-01-26 14:30:00,644.0000,4494,40985,"[644.0000, 643.0000, 642.0000, 641.0000, 640.0...","[811, 313, 186, 424, 324]","[645.0000, 646.0000, 647.0000, 648.0000, 649.0...","[2919, 3009, 1217, 1725, 687]",644.0000,646.0000,639.0000

In [15]:
stock_multi = twstock.realtime.get(['2330', '2454', '0050'])
stock_multi

{'2330': {'timestamp': 1706250600.0,
  'info': {'code': '2330',
   'channel': '2330.tw',
   'name': '台積電',
   'fullname': '台灣積體電路製造股份有限公司',
   'time': '2024-01-26 14:30:00'},
  'realtime': {'latest_trade_price': '644.0000',
   'trade_volume': '4494',
   'accumulate_trade_volume': '40985',
   'best_bid_price': ['644.0000',
    '643.0000',
    '642.0000',
    '641.0000',
    '640.0000'],
   'best_bid_volume': ['811', '313', '186', '424', '324'],
   'best_ask_price': ['645.0000',
    '646.0000',
    '647.0000',
    '648.0000',
    '649.0000'],
   'best_ask_volume': ['2919', '3009', '1217', '1725', '687'],
   'open': '644.0000',
   'high': '646.0000',
   'low': '639.0000'},
  'success': True},
 '2454': {'timestamp': 1706250600.0,
  'info': {'code': '2454',
   'channel': '2454.tw',
   'name': '聯發科',
   'fullname': '聯發科技股份有限公司',
   'time': '2024-01-26 14:30:00'},
  'realtime': {'latest_trade_price': '936.0000',
   'trade_volume': '543',
   'accumulate_trade_volume': '5248',
   'best_bid_price': ['935.0000',
    '934.0000',
    '933.0000',
    '932.0000',
    '931.0000'],
   'best_bid_volume': ['14', '12', '37', '41', '132'],
   'best_ask_price': ['936.0000',
    '937.0000',
    '938.0000',
    '939.0000',
    '940.0000'],
   'best_ask_volume': ['33', '118', '152', '110', '100'],
   'open': '936.0000',
   'high': '939.0000',
   'low': '928.0000'},
  'success': True},
 '0050': {'timestamp': 1706250600.0,
  'info': {'code': '0050',
   'channel': '0050.tw',
   'name': '元大台灣50',
   'fullname': '元大台灣卓越50證券投資信託基金',
   'time': '2024-01-26 14:30:00'},
  'realtime': {'latest_trade_price': '135.6500',
   'trade_volume': '405',
   'accumulate_trade_volume': '15804',
   'best_bid_price': ['135.6000',
    '135.5500',
    '135.5000',
    '135.4500',
    '135.4000'],
   'best_bid_volume': ['303', '332', '189', '221', '280'],
   'best_ask_price': ['135.6500',
    '135.7000',
    '135.7500',
    '135.8000',
    '135.8500'],
   'best_ask_volume': ['5', '40', '70', '469', '356'],
   'open': '135.6500',
   'high': '135.9500',
   'low': '135.3000'},
  'success': True},
 'success': True}

In [16]:
pd.DataFrame(stock_multi)

,2330,2454,0050,success
timestamp,1706250600.0,1706250600.0,1706250600.0,True
info,"{'code': '2330', 'channel': '2330.tw', 'name':...","{'code': '2454', 'channel': '2454.tw', 'name':...","{'code': '0050', 'channel': '0050.tw', 'name':...",True
realtime,"{'latest_trade_price': '644.0000', 'trade_volu...","{'latest_trade_price': '936.0000', 'trade_volu...","{'latest_trade_price': '135.6500', 'trade_volu...",True
success,True,True,True,True

In [17]:
df = stock_multi['2330']
df

{'timestamp': 1706250600.0,
 'info': {'code': '2330',
  'channel': '2330.tw',
  'name': '台積電',
  'fullname': '台灣積體電路製造股份有限公司',
  'time': '2024-01-26 14:30:00'},
 'realtime': {'latest_trade_price': '644.0000',
  'trade_volume': '4494',
  'accumulate_trade_volume': '40985',
  'best_bid_price': ['644.0000',
   '643.0000',
   '642.0000',
   '641.0000',
   '640.0000'],
  'best_bid_volume': ['811', '313', '186', '424', '324'],
  'best_ask_price': ['645.0000',
   '646.0000',
   '647.0000',
   '648.0000',
   '649.0000'],
  'best_ask_volume': ['2919', '3009', '1217', '1725', '687'],
  'open': '644.0000',
  'high': '646.0000',
  'low': '639.0000'},
 'success': True}